/* ERRO */
.erro {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    position: absolute;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.erro div {
    background-color: #fff;
    box-shadow: 0px 2px 10px #666;
    color: #000;
    left: 20%;
    max-height: 60%;
    max-width: 60%;
    padding: 40px;
    position: relative;
    top: 25%;
}
.erro div .alert {
    color: var(--vermelho);
}
.erro div .fa {
    background-color: var(--amarelo);
    color: #FFF;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
}